.airport_FONT1{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
}
.airport_FONT2{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
}
.airport_flyingfrom{
    position: relative;
    display: inline-block;
    right: 305px;
    bottom: 20px;
}

.airport_flyingfrom ::before{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.from_icon{
    padding-left: 35px;
    height: 60px;
    width: 370px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

.airport_flyingto{
    position: relative;
    display: inline-block;
    padding: 60px;
    right: 300px;
    bottom: 20px;
}

.airport_flyingto ::before{
    position: absolute;
    left: 10px;
    top : 50%;
    font-size: 20px;
}

.to_icon {
    padding-left: 35px;
    height: 60px;
    width: 370px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}